<!DOCTYPE html>
<html>

<head>
  <title>
    <%= siteTitle %> -- <%= pageTitle %>
  </title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css' />
</head>

<body id="<%= pageID %>">
  <h1><%= siteTitle %></h1>
  <p>
    <%= pageTitle %>
  </p>
  <p>
    <ul>
      <% if (myData.length > 0) { %>
        <%  for (i=0;i < myData.length;i++) { %>
          <li>
            <% var item = myData[i]; %>
            <%= item.data.title %>
          </li>
          <% } %>
        <% } %>
    </ul>
  </p>
</body>
</html>
